@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 60px;
    background: #111418b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.664);
}
.logo {
    font-size: 55px;
    color: rgb(0, 117, 121);
    text-decoration: none;
    font-weight: 1000;
    transition: 0.5s;
    letter-spacing: 5px;
    line-height: 55px;
}
nav{
    float: right;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    padding: 3px 16px;
    border-radius: 5px;
    border:rgb(0, 87, 90) solid 2px;
    letter-spacing: .5px;
}
nav a i{
    margin-right: 5px;
    font-size: 15px;
}
.logo:hover{
    color: rgb(0, 225, 255);
}
nav a:hover,
nav a.active {
    color: rgb(255, 255, 255);
    background: rgba(110, 255, 248, 0.342);
    border: rgb(95, 208, 216) solid 2px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
/* ===== home ======== */
.sec1div1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
} 

.sec1div1 h1{
    font-size: 100px;
    margin-bottom: -15px;
    color: rgba(255, 255, 255, 0.767);
    -webkit-text-stroke: 2px #5ffaff;
    text-shadow: 0 0px 20px rgb(0, 255, 242);
}
.sec1div1 p{
    font-size: 20px;
    letter-spacing: 5px;
    text-shadow: 0 10px 20px rgb(0, 0, 0);
}
.abtbtn,.downloadbtn{
    background: none;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border:rgb(0, 87, 90) solid 3px;
    margin-top: 70px;
    margin-right: 20px;
    cursor: pointer;
}
.abtbtn a,.downloadbtn a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: .5s;
}
.abtbtn a i,.downloadbtn a i{
    font-size: 16px;
    margin-left: 5px;
}
.abtbtn:hover,.downloadbtn:hover{
    background: rgba(110, 255, 248, 0.342);
    border: rgb(95, 208, 216) solid 3px;
    transition: .8s;
}
.nme{
    color: #00f7ff;
    font-weight: 750;
}
.mine{
    margin-top: 90px;
    
    height: 200px;
    border-radius: 50%;
    border: rgb(167, 245, 255) solid 4px;
    box-shadow: 0 0px 20px rgb(0, 255, 242);
}
.home{
    background: url(i33.png) no-repeat rgba(0, 0, 0, 0.74);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-position: center;
}
/* ===== about ======== */
.about{
    background: url(i2.jpg) no-repeat rgba(0, 0, 0, 0.829);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}
.sec2div1{
    position: absolute;
    transform: translateY(35%);
    text-align: center;
    width: 100%;
}
.pd{
    margin-bottom: 100px;
    margin-top: -150px;
}
.pd h1{
    font-size: 35px;
    margin-bottom: 10px;
    text-shadow: 0 7px 10px #111111;
    color: #6bff73;
}
.pd p{
    font-size: 23px;
    text-shadow: 0 7px 10px #111111;
    color: #b7ffbb;
}
.description{
    font-size: 20px;
    text-shadow: 0 7px 10px #111111;
    color: #feffd7;
    letter-spacing: 0.5px;
}
/* ===== creations ======== */
.creations{
    background: url(i3.jpg) no-repeat rgba(0, 0, 0, 0.829);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-position: center bottom;
}
.main{
    padding: 80px 100px 50px;
    text-align: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
.container img{
    width: 350px;
    object-fit: cover;
    object-position: bottom;
    margin: 5px;
    margin: 5px 15px;
    border: 4px solid rgba(255, 180, 232, 0.075);
    border-radius: 10px;
}
.viewmore a i{
    margin-left: 5px;
    font-size: 18px;
}
.viewmore a{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 3px solid #ff68ff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #ffd0ff;
}
.viewmore a:hover{
    background: #ff00ff65;
    transition: .5s;
}
.checkbtn{
    font-size: 28px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.uncheckbtn{
    font-size: 35px;
    color: white;
    float: right;
    cursor: pointer;
    line-height: 40px;
    display: none;
    margin-right: 20px;
}
#check{
    display: none;
}

@media (max-width:1360px){
    .container img{
        width: 340px;
    }
}
@media (max-width:1330px){
    .container img{
        width: 320px;
    }
    .main{
        padding: 80px 80px 50px;
    }
}
@media (max-width:1250px){
    .container img{
        width: 300px;
    }
    .main{
        padding: 80px 60px 50px;
    }
}
@media (max-width:1200px){
    .container img{
        width: 300px;
    }
    .main{
        padding: 80px 50px 50px;
    }
}
@media (max-width:1150px){
    .container img{
        width: 280px;
    }
    .main{
        padding: 80px 50px 50px;
    }
}
@media (max-width:1100px){
    .container img{
        width: 260px;
    }
    .main{
        padding: 80px 50px 50px;
    }
}
@media (max-width:1050px){
    .container img{
        width: 260px;
    }
    .main{
        padding: 80px 40px 50px;
    }
}
@media (max-width:1000px){
    .container img{
        width: 350px;
    }
    .main{
        padding: 80px 40px 50px;
    }
    #hide1{
        display: none;
    }
}

@media (max-width: 952px){
    header{
        padding-left: 40px;
        padding-right: 10px;      
    }
    nav a{
        padding: 3px 13px;
        margin-left: 15px;
    }
    nav{
        margin-right: 20px;
    }
}
@media (max-width: 858px){
    header{
        height: 80px;
    }
    nav{
        display: none;
    }
    .sec1div1 p{
        font-size: 20px;
        margin-top: 5px;
        padding: 0 60px;
    }
    .mine{
        margin-top: 70px;
    }
    .sec2div1{
        position: absolute;
        transform: translateY(50%);
        text-align: center;
        width: 100%;
    }
    .pd{
        margin-bottom: 90px;
        margin-top: -200px;
    }
    .pd h1{
        font-size: 30px;
        margin-bottom: 20px;
        text-shadow: 0 7px 10px #111111;
        color: #6bff73;
    }
    .pd p{
        font-size: 20px;
        text-shadow: 0 7px 10px #111111;
        color: #b7ffbb;
        letter-spacing: -1px;
        line-height: 30px;
    }
    .description{
        font-size: 15px;
        text-shadow: 0 7px 10px #111111;
        color: #feffd7;
        letter-spacing: 0.5px;
        line-height: 30px;
    }
    .abtbtn:hover{
        background: none;
    }
    .container img{
            width: 290px;
        }
    .main{
        padding: 80px 40px 50px;
    }
}
@media (max-width: 750px){
    .container img{
        width: 350px;
    }
    .main{
        padding: 80px 40px 50px;
    }
    #hide2{
        display: none;
    }
}

@media (max-width: 700px){
    header{
        padding-left: 10px;
    }
    .checkbtn,.uncheckbtn{
        margin-right: 5px;
    }
}
@media (max-width: 600px){
    .container img{
        width: 310px;
    }
    .main{
        padding: 80px 40px 50px;
    }
}
@media (max-width: 475px){
    header{
        padding-left: 10px;
    }
    .checkbtn{
        margin-right: 5px;
    }
    .sec1div1 h1{
        font-size: 70px;
    }
    .mine{
        margin-bottom: -20px;
        height: 150px;
    }
}
@media (max-width: 428px){
    header{
        height: 80px;
    }
    nav{
        top: 80px;
        background: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }
    nav a{
        transform: translateY(175px);
    }
    .description{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .checkbtn:hover{
        background: none;
    }
    .viewmore a{
        font-size: 18px;
    }
    .main{
        padding-bottom: 10px;
    }
    .container{
        margin-bottom: 80px;
    }
    .sec2div1{
        transform: translateY(40%);
    }
    .sec1div1 p{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .mine{
        margin-top: 90px;
        margin-bottom: 10px;
        height: 230px;
    }
    .home{
        background-position-x: center;
    }
    .about{
        background-position-x: center;
    }
    .creations{
        background-position-x: right;
    }
    .contact{
        background-position: center center;
    }
}
@media (max-width: 301px){
    .logo{
        font-size: 28px;        
    }
    .sec1div1 h1{
        font-size: 50px;
    }
    .sec1div1 p{
        font-size: 15px;
        padding: 10px 30px 0;
    }
    .mine{
        height: 150px;
    }
    .checkbtn{
        font-size: 25px;
    }
    .uncheckbtn{
        font-size: 30px;
    }
    .insta{
        margin: 20px 10px 0;
    }
    .abtbtn{
        margin: 35px 10px 0;
    }
    nav{
        top: 67px;
    }
    .description{
        font-size: 16px;
        line-height: 18px;
    }
    .pd{
        margin-bottom: 55px;
        margin-top: -180px;
    }
    .container img{
        width: 250px;
    }
}
