@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 60px;
    background: #111418b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.664);
}
.logo {
    font-size: 55px;
    text-decoration: none;
    font-weight: 1000;
    transition: 0.5s;
    letter-spacing: 5px;
    line-height: 55px;
    color: rgb(0, 225, 255);
    transition: .3s;
}
nav{
    float: right;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    padding: 3px 16px;
    border-radius: 5px;
    border:rgb(102, 102, 102) solid 2px;
    letter-spacing: .5px;
}
nav a i{
    margin-right: 5px;
    font-size: 15px;
}
.logo:hover{
    
    color: rgba(255, 255, 255, 0.89);
    -webkit-text-stroke: 1px #5ffaffd2;
    text-shadow: 0 0px 20px rgb(0, 255, 242);
}
nav a:hover,
nav a.active {
    color: rgb(255, 255, 255);
    background: rgba(190, 190, 190, 0.39);
    border: rgb(255, 255, 255) solid 2px;
}

section {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}
/* ===== home ======== */
.sec1div1{
    position: relative;    
    text-align: center;
    width: 100%;
} 

.sec1div1 h1{
    font-size: 100px;
    margin-bottom: -15px;
    color: rgba(255, 255, 255, 0.767);
    -webkit-text-stroke: 2px #5ffaff;
    text-shadow: 0 0px 20px rgb(0, 255, 242);
}
.sec1div1 p{
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 0 10px 20px rgb(0, 0, 0);
}
.abtbtn,.downloadbtn{
    background: none;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border:rgb(0, 87, 90) solid 3px;
    margin-top: 70px;
    margin-right: 20px;
    cursor: pointer;
}
.abtbtn a,.downloadbtn a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: .5s;
}
.abtbtn a i,.downloadbtn a i{
    font-size: 16px;
    margin-left: 5px;
}
.abtbtn:hover,.downloadbtn:hover{
    background: rgba(110, 255, 248, 0.342);
    border: rgb(95, 208, 216) solid 3px;
    transition: .8s;
}
.nme{
    color: #00f7ff;
    font-weight: 750;
}
.mine{
    margin-top: 90px;
    
    height: 200px;
    border-radius: 50%;
    border: rgb(167, 245, 255) solid 4px;
    box-shadow: 0 0px 20px rgb(0, 255, 242);
}
.home{
    background: url(i36.webp) no-repeat rgba(0, 0, 0, 0.74);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    background-position: center;
    align-items: center;
}
/* ===== about ======== */
.about{
    background: url(i99.png) no-repeat rgba(0, 0, 0, 0.829);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    align-items: flex-end;
    background-position: left; 
}
.sec2div1{
    position: relative;
    width: 50%;
    margin-left: 2%;
}
.pd h1{
    font-size: 60px;
    margin-bottom: 100px;
    text-shadow: 0 7px 10px #111111;
    color: #6bff73;
}
.spnabt{
    color: #6bff73;
    font-size: 25px;
    font-weight: bold;
}
.pd p{
    font-size: 20px;
    text-shadow: 0 7px 10px #111111;
    color: #b7ffbb;
    margin-bottom: 100px;
}
.A{
    font-size: 95px;
}
.description{
    font-size: 25px;
    text-shadow: 0 7px 10px #111111;
    color: #b7ffbb;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    font-weight: bold;
}

/* ===== creations ======== */
.creations{
    background: url(i32.jpg) no-repeat rgba(0, 0, 0, 0.89);
    background-size: cover;
    color: white;
    background-position: top;
    background-blend-mode: darken;
    align-items: center;
}
.main{
    padding: 10px;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.container img{
    width: 350px;
    object-fit: cover;
    object-position: bottom;
    margin: 5px;
    margin: 5px 15px;
    border: 4px solid rgba(255, 238, 0, 0.226);
    border-radius: 10px;
}
.viewmore a i{
    margin-left: 5px;
    font-size: 18px;
}
.viewmore a{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 3px solid #ffd900;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    transition: .6s;
}
.viewmore a:hover{
    background: #ffae008c;
    transition: .5s;
}



@media (max-width:1200px){
    .pd h1{
        font-size: 60px;
        margin-bottom: 100px;
    }
    .pd p{
        margin-bottom: 100px;
    }
}
@media (max-width:1160px){
    #hide1{
        display: none;
    }
    .sec2div1{
        width: 70%;
    }
}
@media (max-width:916px){
    #hide2{
        display: none;
    }
    nav{
        display: none;
    }
    .about{
        align-items: center;  
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    header {
        justify-content: center;
    }
}
@media (max-width:880px){
    .sec2div1{
        height: 50%;
        width: 90%;
    }
}


